<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script
    src="http://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
    crossorigin="anonymous"></script>
  </head>
  <body>
    <div class='container'>
      <canvas id="game" width="380" height="380"></canvas>

      <div id='map'></div>
      <img id='icon-ingame' class='icon-anim' src="/images/icon_gif/Ani001MS.gif" alt="">
    </div>

    <img class='icon-anim' src="/images/icon_png/pkmn_2.png" alt="">
    <img class='icon-anim' src="/images/icon_gif/Ani001MS.gif" alt="">
    <img class='icon-anim' src="/images/icon_png/pkmn_5.png" alt="">
    <img class='icon-anim' src="/images/icon_gif/Ani004MS.gif" alt="">
    <img class='icon-anim' src="/images/icon_png/pkmn_8.png" alt="">
    <img class='icon-anim' src="/images/icon_gif/Ani007MS.gif" alt="">
  
    <script type="module" src="./javascripts/main.js"></script>
  </body>
</html>
